/*Element Selector - styling the body background and text*/
body {
    background-color: #7b92a7; /*  background color*/
    font-family: Arial, sans-serif; /* sets font for the whole page */
    color: #241a1a; /*  text color */
    font-size: 1.6rem;
    line-height: 1.8;
}
/* ID Selector - styling the main heading */
#main-heading {
    color: #031c67; /*  blue heading */
    text-align: center; /* center heading */
    font-size: 3rem;
    letter-spacing: 2px; /* spacing between letters */
    margin-bottom: 2rem;
}
/* Class Selector - styling form container */
.form-container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto; /* center the form */
    background-color: #ffffff; /* white background */
    padding: 2rem; /* internal space */
    border: 2px solid #4d6888; /* blue border */
    border-radius: 10px; /* rounded corners */
}
/* Element Selector - styling labels*/
label {
    display: block; /* make label a block element */
    font-weight: bold; /* bold text */
    font-style: italic; /* italic text */
    margin-top: 1rem;
}