/*Element Selector - styling the body background and text*/
body {
    background-color: #7b92a7; /*  background color*/
    font-family: Arial, sans-serif; /* sets font for the whole page */
    color: #241a1a; /*  text color */
    font-size: 1.6rem;
    line-height: 1.8;
}
/* ID Selector - styling the main heading */
#main-heading {
    color: #031c67; /*  blue heading */
    text-align: center; /* center heading */
    font-size: 3rem;
    letter-spacing: 2px; /* spacing between letters */
    margin-bottom: 2rem;
}
/* Class Selector - styling form container */
.form-container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto; /* center the form */
    background-color: #ffffff; /* white background */
    padding: 2rem; /* internal space */
    border: 2px solid #4d6888; /* blue border */
    border-radius: 10px; /* rounded corners */
}
/* Element Selector - styling labels*/
label {
    display: block; /* make label a block element */
    font-weight: bold; /* bold text */
    font-style: italic; /* italic text */
    margin-top: 1rem;
}
/* Class Selector - styling inputs, selects, and textarea*/
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 0.8rem; /* internal padding */
    margin-top: 0.5rem; /* space above input */
    margin-bottom: 1.5rem; /* space below input */
    border: 1px solid #ccc; /* light gray border */
    border-radius: 5px; /* rounded corners */
}
/* Styling submit button */
input[type="submit"] {
    background-color: #4169E1;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #357ab8; /* darker blue on hover */
}

